<div class="center hero-unit">
  <h1>欢迎来到良师益友</h1>

  <h2>
    这里有最好的老师，最好的朋友，携手一起学习，共同进步
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "现在注册!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>