<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <%= form_tag(:controller => "friend_requests", :action => "create", :method => "post") do %>
          <%= hidden_field_tag(:receiver_id, @user.id) %>
          <%= text_area_tag(:content, nil, :placeholder => "告诉他/她你是谁吧...") %>
    </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <%= submit_tag "发送", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>