<footer class="footer">
  <small>
    <a href="<%= root_path%>">良师益友</a>
    by daijia
  </small>
  <nav>
    <ul>
      <li><%= link_to "帮助",    help_path %></li>
      <li><%= link_to "关于我们",   about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>

    </ul>
  </nav>
</footer>